doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title h6t p6t
  link(rel='stylesheet' href='public/about us.css')
header
  .container
    nav
      ul
        #logoicon
          a(href='homepage.html')
            img(src='images/logo/資產 19.png' width='94px' alt='h6t p6t')
        li
          a(href='homepage.html') &#x9996;&#x9801;
        li
          a(href='about us.html') &#x95DC;&#x65BC;&#x6211;&#x5011;
        li
          a(href='news.html') &#x6700;&#x65B0;&#x6D88;&#x606F;
        li
          a(href='member.html') &#x98FD;&#x98DF;&#x83DC;&#x55AE;
        li
          a(href='faq.html') &#x5E38;&#x898B;&#x554F;&#x984C;
        #membericon
          a(href='member.html')
            img(src='images/member icon.jpg ' width='55px' alt='會員登入')
br
br
br
br
br
br
br
br
aside
  .container
    nav
      ul.breadcrumb
        li
          a(href='homepage.html')
            img(src='images/home.png' alt='homepage' width='20px')
        span &nbsp; &gt; &nbsp;
        li
          a(href='about us.html') &#x95DC;&#x65BC;&#x6211;&#x5011;
main
  .container.loremdiv
    h2 &#x95DC;&#x65BC;&#x6211;&#x5011;
    p
      | &#x8FD1;&#x5E74;&#x4F86;&#x53F0;&#x7063;&#x5C0D;&#x65BC;&rdquo;&#x98DF;&rdquo;&#x7684;&#x8981;&#x6C42;&#x6C34;&#x6E96;&#x63D0;&#x5347;&#xFF0C;&#x672C;&#x5E97;&#x5275;&#x59CB;&#x4EBA;-XXX&#x5148;&#x751F;&#x5148;&#x751F;&#xFF0C;&#x4EE5;&#x53F0;&#x7063;&#x4EBA;&#x666E;&#x904D;&#x559C;&#x611B;&#x5403;&#x934B;&#x505A;&#x70BA;&#x767C;&#x60F3;&#xFF0C;&#x8B93;&#x9867;&#x5BA2;&#x6709;&#x958B;&#x5FC3;&#x7684;&#x5FC3;&#x60C5;&#x8207;&#x4E7E;&#x6DE8;&#x7684;&#x7528;&#x9910;&#x74B0;&#x5883;&#xFF0C;
      | &#x958B;&#x7ACB;&#x672C;&#x5E97;&#xFF0C;&#x8001;&#x95C6;&#x5C0D;&#x65BC;&#x98DF;&#x6750;&#x7684;&#x9078;&#x8CFC;&#x53CA;&#x7522;&#x5730;&#x6BEB;&#x4E0D;&#x99AC;&#x864E;&#xFF0C;&#x5728;&#x5730;&#x9867;&#x5BA2;&#x5403;&#x904E;&#x90FD;&#x8AAA;&#x8B9A;&#xFF0C;&#x53E3;&#x8033;&#x76F8;&#x50B3;&#x4F7F;&#x6211;&#x5011;&#x6210;&#x70BA;&#x5BB6;&#x55BB;&#x6236;&#x66C9;&#x7684;&#x512A;&#x8CEA;&#x5E97;&#x5BB6;&#x3002;
    img(src='images/about us back.png' alt='bgi8' width='900px')
br
br
br
br
br
br
section
  .container
    h2.h2under &#x516D;&#x5927;&#x539F;&#x5247;
    .col-12
    br
    br
    br
    br
    br
    br
    br
    br
    br
    .row
      .col-md-6
        img.img-rounded.img-fluid(src='images/2.png' alt='' width='50%')
      .col-md-6
        h2.h2under &#x5B89;&#x5FC3;
        p &#x5B89;&#x5FC3;&#x7684;&#x98DF;&#x6750;&#x3001;&#x5B89;&#x5FC3;&#x7684;&#x74B0;&#x5883;&#xFF0C;&#x63D0;&#x4F9B;&#x6700;&#x597D;&#x7684;&#x670D;&#x52D9;&#x3002;
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      br
      .row
        .col-md-6
          img.img-rounded.img-fluid(src='images/v2-25869e554e6b7068a24f19def21ed5f4_720w.jpg' alt='' width='50%')
        .col-md-6.order-md-1
          h2.h2under &#x5065;&#x5EB7;
          p &#x4F86;&#x81EA;&#x4E16;&#x754C;&#x4E0A;&#x5404;&#x5730;&#x7684;&#x98DF;&#x6750;&#xFF0C;&#x7D93;&#x904E;&#x54C1;&#x7BA1;&#x56B4;&#x683C;&#x7684;&#x628A;&#x95DC;&#xFF0C;&#x6253;&#x9020;&#x5065;&#x5EB7;&#x7684;&#x9910;&#x9EDE;&#x3002;
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        .row
          .col-md-6
            img.img-rounded.img-fluid(src='images/cd7029b2b85775a5b920844f522e0ba6d_19246948_190810_0254-769x1024.jpg' alt='' width='50%')
          .col-md-6
            h2.h2under &#x7F8E;&#x5473;
            p &#x65B0;&#x9BAE;&#x7684;&#x98DF;&#x6750;&#xFF0C;&#x52A0;&#x4E0A;&#x5E97;&#x5167;&#x7368;&#x7279;&#x7684;&#x6E6F;&#x982D;&#xFF0C;&#x4F7F;&#x7F8E;&#x5473;&#x63D0;&#x5347;&#x5230;&#x66F4;&#x9AD8;&#x7684;&#x5C64;&#x6B21;&#x3002;
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          br
          .row
            .col-md-6
              img.img-rounded.img-fluid(src='images/25cfa7a67fbd9af6229c52e21b46b523.jpg' alt='' width='50%')
            .col-md-6.order-md-1
              h2.h2under &#x65B0;&#x9BAE;
              p &#x81EA;&#x5404;&#x5730;&#x9032;&#x53E3;&#x7684;&#x98DF;&#x6750;&#xFF0C;&#x90FD;&#x662F;&#x7D93;&#x7531;&#x6D77;&#x904B;&#x51B7;&#x51CD;&#x8CA8;&#x6AC3;&#x914D;&#x9001;&#x4F86;&#x53F0;&#xFF0C;&#x8B93;&#x9955;&#x5BA2;&#x5011;&#x53EF;&#x4EE5;&#x5690;&#x5230;&#x6700;&#x9BAE;&#x751C;&#x7684;&#x98DF;&#x6750;&#x3002; 
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            .row
              .col-md-6
                img.img-rounded.img-fluid(src='images/1656344699095.jpg' alt='' width='50%')
              .col-md-6
                h2.h2under &#x6EAB;&#x6696;
                p &#x9BAE;&#x751C;&#x7684;&#x6E6F;&#x982D;&#xFF0C;&#x8CD3;&#x81F3;&#x5982;&#x6B78;&#x7684;&#x670D;&#x52D9;&#xFF0C;&#x4F7F;&#x60A8;&#x53EF;&#x4EE5;&#x611F;&#x53D7;&#x5230;&#x672C;&#x5E97;&#x5C0D;&#x65BC;&#x54C1;&#x8CEA;&#x7684;&#x8981;&#x6C42;&#x975E;&#x5E38;&#x7684;&#x9AD8;&#x3002;
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              br
              .row
                .col-md-6
                  img.img-rounded.img-fluid(src='images/75c39b1c81d6d7e5a6d5a9dc04e02143.jpg' alt='' width='50%')
                .col-md-6.order-md-1
                  h2.h2under &#x6EFF;&#x610F;
                  p &#x672C;&#x5E97;&#x6703;&#x5C0D;&#x6B63;&#x9762;&#x7684;&#x8A55;&#x50F9;&#x7E7C;&#x7E8C;&#x4FDD;&#x6301;&#xFF0C;&#x9700;&#x8981;&#x6539;&#x5584;&#x7684;&#x5730;&#x65B9;&#x6703;&#x4E88;&#x4EE5;&#x66F4;&#x6539;&#xFF0C;&#x4F7F;&#x9867;&#x5BA2;&#x6EFF;&#x610F;&#x672C;&#x5E97;&#x7684;&#x52AA;&#x529B;&#x3002;
br
br
br
br
br
br
br
br
br
br
br
br
footer
  .container
    .row
      .col-4
        a(href='#')
          img(src='images/logo/資產 19.png' width='211px')
      dl.col-4
        h2 IMFO.
        ul.row
          li.footerulli
            a(href='#')
              img(src='images/down-arrow.png' width='15px')
              | &#x95DC;&#x65BC;&#x6211;&#x5011;
          li.footerulli
            a(href='#')
              img(src='images/down-arrow.png' width='15px')
              | &#x5925;&#x4F34;&#x62DB;&#x52DF;
          li.footerulli
            a(href='#')
              img(src='images/down-arrow.png' width='15px')
              | &#x806F;&#x7D61;&#x8CC7;&#x8A0A;
          li.footerulli
            a(href='#')
              img(src='images/down-arrow.png' width='15px')
              | &#x8FD4;&#x56DE;&#x9996;&#x9801;
      dl.col-4.footericonpadding
        dt
          a(href='main.html')
            img(src='images/metaicon.png' width='50px' alt='')
          a(href='main.html')
            img(src='images/igicon.png' width='29px' alt='')
          a(href='main.html')
            img.lineicon(src='images/lineicon.png' width='25px' alt='')
        dd &#x9023;&#x7D61;&#x96FB;&#x8A71; : 04-224924312
        dd
          | &#x806F;&#x7D61;&#x5730;&#x5740; :
          | &#x53F0;&#x4E2D;&#x5E02;&#x6F6D;&#x5B50;&#x5340;&#x52DD;&#x5229;&#x8DEF;528&#x865F;
    p.copyright.text-center 2022 h6t p6t company
